openapi: 3.0.0
info:
  description: REST API for Marlowe Runtime
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Marlowe Runtime REST API
  version: 0.0.5.1
servers:
- url: https://marlowe-runtime-preprod-web.scdev.aws.iohkdev.io
- url: https://marlowe-runtime-preview-web.scdev.aws.iohkdev.io
- url: https://marlowe-runtime-mainnet-web.scdev.aws.iohkdev.io
- url: http://localhost:3780
paths:
  /contracts:
    get:
      description: "Get contracts published on chain. Results are returned in pages,\
        \ with paging being specified by request headers."
      operationId: getContracts
      parameters:
      - explode: true
        in: query
        name: roleCurrency
        required: false
        schema:
          items:
            description: The hex-encoded minting policy ID for a native Cardano token
            pattern: "^[a-fA-F0-9]*$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: partyAddress
        required: false
        schema:
          items:
            description: "A cardano address, in Bech32 format"
            example: addr1w94f8ywk4fg672xasahtk4t9k6w3aql943uxz5rt62d4dvq8evxaf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: partyRole
        required: false
        schema:
          items:
            description: A minting policy ID and a token name identifying a specific
              asset type. Encoded as policyId.tokenName.
            pattern: "^[a-fA-F0-9]*\\..*$"
            type: string
          type: array
        style: form
      - explode: false
        in: header
        name: Range
        required: false
        schema:
          type: string
        style: simple
      responses:
        "206":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
          description: ""
          headers:
            Accept-Ranges:
              explode: false
              schema:
                items:
                  enum:
                  - contractId
                  type: string
                type: array
              style: simple
            Content-Range:
              explode: false
              schema:
                type: string
              style: simple
            Next-Range:
              explode: false
              schema:
                type: string
              style: simple
            Total-Count:
              explode: false
              schema:
                maximum: 9223372036854775807
                minimum: -9223372036854775808
                type: integer
              style: simple
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `Range` or `partyRole` or `partyAddress` or `tag` or
            `roleCurrency`
      security: []
      summary: Get contracts
    post:
      description: "Build an unsigned (Cardano) transaction body which opens a new\
        \ Marlowe contract. This unsigned transaction must be signed by a wallet (such\
        \ as a CIP-30 or CIP-45 wallet) before being submitted. To submit the signed\
        \ transaction, use the PUT /contracts/{contractId} endpoint."
      operationId: createContract
      parameters:
      - description: Where to send staking rewards for the Marlowe script outputs
          of this contract.
        explode: false
        in: header
        name: X-Stake-Address
        required: false
        schema:
          description: "A cardano stake address, in Bech32 format"
          example: stake1ux7lyy9nhecm033qsmel9awnr22up6jadlzkrxufr78w82gsfsn0d
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Change-Address
        required: true
        schema:
          description: "A cardano address, in Bech32 format"
          example: addr1w94f8ywk4fg672xasahtk4t9k6w3aql943uxz5rt62d4dvq8evxaf
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Address
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Collateral-UTxO
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/PostContractsRequest'
      responses:
        "201":
          content:
            application/vendor.iog.marlowe-runtime.contract-tx-json:
              schema:
                $ref: '#/components/schemas/CreateContractResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `X-Collateral-UTxO` or `X-Address` or `X-Change-Address`
            or `body` or `X-Stake-Address`
      security: []
      summary: Create a new contract
  /contracts/sources:
    post:
      description: "Upload a bundle of marlowe objects as contract sources. This API\
        \ supports request body streaming, with newline framing between request bundles."
      operationId: createContractSources
      parameters:
      - description: The label of the top-level contract object in the bundle(s).
        explode: true
        in: query
        name: main
        required: true
        schema:
          description: An arbitrary text identifier for an object in a Marlowe object
            bundle.
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectBundle'
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ObjectBundle'
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/PostContractSourceResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `body` or `main`
      security: []
      summary: Upload contract sources
  /contracts/sources/{contractSourceId}:
    get:
      operationId: getContractSourceById
      parameters:
      - explode: false
        in: path
        name: contractSourceId
        required: true
        schema:
          description: The hex-encoded identifier of a Marlowe contract source
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      - allowEmptyValue: true
        explode: true
        in: query
        name: expand
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Contract'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `expand`
        "404":
          description: '`contractSourceId` not found'
      security: []
      summary: Get contract source by ID
  /contracts/sources/{contractSourceId}/adjacency:
    get:
      description: Get the contract source IDs which are adjacent to a contract source
        (they appear directly in the contract source).
      operationId: getContractSourceAdjacency
      parameters:
      - explode: false
        in: path
        name: contractSourceId
        required: true
        schema:
          description: The hex-encoded identifier of a Marlowe contract source
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ContractSourceIds'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`contractSourceId` not found'
      security: []
      summary: Get adjacent contract source IDs by ID
  /contracts/sources/{contractSourceId}/closure:
    get:
      description: Get the contract source IDs which appear in the full hierarchy
        of a contract source (including the ID of the contract source its self).
      operationId: getContractSourceClosure
      parameters:
      - explode: false
        in: path
        name: contractSourceId
        required: true
        schema:
          description: The hex-encoded identifier of a Marlowe contract source
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ContractSourceIds'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`contractSourceId` not found'
      security: []
      summary: Get contract source closure by ID
  /contracts/{contractId}:
    get:
      operationId: getContractById
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetContractResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`contractId` not found'
      security: []
      summary: Get contract by ID
    put:
      description: "Submit a signed (Cardano) transaction that opens a new Marlowe\
        \ contract. The transaction must have originally been created by the POST\
        \ /contracts endpoint. This endpoint will respond when the transaction is\
        \ submitted successfully to the local node, which means it will not wait for\
        \ the transaction to be published in a block. Use the GET /contracts/{contractId}\
        \ endpoint to poll the on-chain status."
      operationId: submitContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TextEnvelope'
      responses:
        "202":
          content:
            application/json;charset=utf-8: {}
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `body`
        "404":
          description: '`contractId` not found'
      security: []
      summary: Submit contract to chain
  /contracts/{contractId}/next:
    get:
      description: Get inputs which could be performed on a contract withing a time
        range by the requested parties.
      operationId: getNextStepsForContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      - description: The beginning of the validity range.
        explode: true
        in: query
        name: validityStart
        required: true
        schema:
          format: yyyy-mm-ddThh:MM:ssZ
          type: string
        style: form
      - description: The end of the validity range.
        explode: true
        in: query
        name: validityEnd
        required: true
        schema:
          format: yyyy-mm-ddThh:MM:ssZ
          type: string
        style: form
      - explode: true
        in: query
        name: party
        required: false
        schema:
          items:
            description: Party (A role name or an Address)
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Next'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `party` or `validityEnd` or `validityStart`
        "404":
          description: '`contractId` not found'
      security: []
      summary: Get next contract steps
  /contracts/{contractId}/transactions:
    get:
      description: "Get published transactions for a contract. Results are returned\
        \ in pages, with paging being specified by request headers."
      operationId: getTransactionsForContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      - explode: false
        in: header
        name: Range
        required: false
        schema:
          type: string
        style: simple
      responses:
        "206":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
          description: ""
          headers:
            Accept-Ranges:
              explode: false
              schema:
                items:
                  enum:
                  - transactionId
                  type: string
                type: array
              style: simple
            Content-Range:
              explode: false
              schema:
                type: string
              style: simple
            Next-Range:
              explode: false
              schema:
                type: string
              style: simple
            Total-Count:
              explode: false
              schema:
                maximum: 9223372036854775807
                minimum: -9223372036854775808
                type: integer
              style: simple
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `Range`
        "404":
          description: '`contractId` not found'
      security: []
      summary: Get transactions for contract
    post:
      description: "Build an unsigned (Cardano) transaction body which applies inputs\
        \ to an open Marlowe contract. This unsigned transaction must be signed by\
        \ a wallet (such as a CIP-30 or CIP-45 wallet) before being submitted. To\
        \ submit the signed transaction, use the PUT /contracts/{contractId}/transactions/{transactionId}\
        \ endpoint."
      operationId: applyInputsToContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Change-Address
        required: true
        schema:
          description: "A cardano address, in Bech32 format"
          example: addr1w94f8ywk4fg672xasahtk4t9k6w3aql943uxz5rt62d4dvq8evxaf
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Address
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Collateral-UTxO
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/PostTransactionsRequest'
      responses:
        "201":
          content:
            application/vendor.iog.marlowe-runtime.apply-inputs-tx-json:
              schema:
                $ref: '#/components/schemas/ApplyInputsResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `X-Collateral-UTxO` or `X-Address` or `X-Change-Address`
            or `body`
        "404":
          description: '`contractId` not found'
      security: []
      summary: Apply inputs to contract
  /contracts/{contractId}/transactions/{transactionId}:
    get:
      operationId: getContractTransactionById
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      - explode: false
        in: path
        name: transactionId
        required: true
        schema:
          description: The hex-encoded identifier of a Cardano transaction
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetTransactionResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`contractId` or `transactionId` not found'
      security: []
      summary: Get contract transaction by ID
    put:
      description: "Submit a signed (Cardano) transaction that applies inputs to an\
        \ open Marlowe contract. The transaction must have originally been created\
        \ by the POST /contracts/{contractId}/transactions endpoint. This endpoint\
        \ will respond when the transaction is submitted successfully to the local\
        \ node, which means it will not wait for the transaction to be published in\
        \ a block. Use the GET /contracts/{contractId}/transactions/{transactionId}\
        \ endpoint to poll the on-chain status."
      operationId: submitContractTransaction
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      - explode: false
        in: path
        name: transactionId
        required: true
        schema:
          description: The hex-encoded identifier of a Cardano transaction
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TextEnvelope'
      responses:
        "202":
          content:
            application/json;charset=utf-8: {}
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `body`
        "404":
          description: '`contractId` or `transactionId` not found'
      security: []
      summary: Submit contract input application
  /healthcheck:
    get:
      description: Check if the server is running and ready to respond to requests.
      operationId: healthcheck
      responses:
        "200":
          content:
            application/json;charset=utf-8: {}
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
      security: []
      summary: Test server status
  /payouts:
    get:
      description: "Get payouts to parties from role-based contracts. Results are\
        \ returned in pages, with paging being specified by request headers."
      operationId: getPayouts
      parameters:
      - explode: true
        in: query
        name: contractId
        required: false
        schema:
          items:
            description: A reference to a transaction output with a transaction ID
              and index. The value must be URL encoded by replacing the '#' character
              with %23.
            example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
            pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: roleToken
        required: false
        schema:
          items:
            description: A minting policy ID and a token name identifying a specific
              asset type. Encoded as policyId.tokenName.
            pattern: "^[a-fA-F0-9]*\\..*$"
            type: string
          type: array
        style: form
      - description: Whether to include available or withdrawn payouts in the results.
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The status of a payout. Either it is available to be withdrawn,\
            \ or it has already been withdrawn."
          enum:
          - available
          - withdrawn
          type: string
        style: form
      - explode: false
        in: header
        name: Range
        required: false
        schema:
          type: string
        style: simple
      responses:
        "206":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetPayoutsResponse'
          description: ""
          headers:
            Accept-Ranges:
              explode: false
              schema:
                items:
                  enum:
                  - payoutId
                  type: string
                type: array
              style: simple
            Content-Range:
              explode: false
              schema:
                type: string
              style: simple
            Next-Range:
              explode: false
              schema:
                type: string
              style: simple
            Total-Count:
              explode: false
              schema:
                maximum: 9223372036854775807
                minimum: -9223372036854775808
                type: integer
              style: simple
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `Range` or `status` or `roleToken` or `contractId`
      security: []
      summary: Get role payouts
  /payouts/{payoutId}:
    get:
      operationId: getPayoutById
      parameters:
      - explode: false
        in: path
        name: payoutId
        required: true
        schema:
          description: A reference to a transaction output with a transaction ID and
            index. The value must be URL encoded by replacing the '#' character with
            %23.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7%231
          pattern: "^[a-fA-F0-9]{64}%23[0-9]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetPayoutResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`payoutId` not found'
      security: []
      summary: Get payout by ID
  /withdrawals:
    get:
      description: "Get published withdrawal transactions. Results are returned in\
        \ pages, with paging being specified by request headers."
      operationId: getWithdrawals
      parameters:
      - explode: true
        in: query
        name: roleCurrency
        required: false
        schema:
          items:
            description: The hex-encoded minting policy ID for a native Cardano token
            pattern: "^[a-fA-F0-9]*$"
            type: string
          type: array
        style: form
      - explode: false
        in: header
        name: Range
        required: false
        schema:
          type: string
        style: simple
      responses:
        "206":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetWithdrawalsResponse'
          description: ""
          headers:
            Accept-Ranges:
              explode: false
              schema:
                items:
                  enum:
                  - withdrawalId
                  type: string
                type: array
              style: simple
            Content-Range:
              explode: false
              schema:
                type: string
              style: simple
            Next-Range:
              explode: false
              schema:
                type: string
              style: simple
            Total-Count:
              explode: false
              schema:
                maximum: 9223372036854775807
                minimum: -9223372036854775808
                type: integer
              style: simple
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `Range` or `roleCurrency`
      security: []
      summary: Get withdrawals
    post:
      description: "Build an unsigned (Cardano) transaction body which withdraws available\
        \ payouts from a role payout validator. This unsigned transaction must be\
        \ signed by a wallet (such as a CIP-30 or CIP-45 wallet) before being submitted.\
        \ To submit the signed transaction, use the PUT /withdrawals/{withdrawalId}\
        \ endpoint."
      operationId: withdrawPayouts
      parameters:
      - explode: false
        in: header
        name: X-Change-Address
        required: true
        schema:
          description: "A cardano address, in Bech32 format"
          example: addr1w94f8ywk4fg672xasahtk4t9k6w3aql943uxz5rt62d4dvq8evxaf
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Address
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Collateral-UTxO
        required: false
        schema:
          description: A comma-separated list of values
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/PostWithdrawalsRequest'
      responses:
        "201":
          content:
            application/vendor.iog.marlowe-runtime.withdraw-tx-json:
              schema:
                $ref: '#/components/schemas/WithdrawPayoutsResponse'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `X-Collateral-UTxO` or `X-Address` or `X-Change-Address`
            or `body`
      security: []
      summary: Withdraw payouts
  /withdrawals/{withdrawalId}:
    get:
      operationId: getWithdrawalById
      parameters:
      - explode: false
        in: path
        name: withdrawalId
        required: true
        schema:
          description: The hex-encoded identifier of a Cardano transaction
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Withdrawal'
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "404":
          description: '`withdrawalId` not found'
      security: []
      summary: Get withdrawal by ID
    put:
      description: "Submit a signed (Cardano) transaction that withdraws available\
        \ payouts from a role payout validator. The transaction must have originally\
        \ been created by the POST /withdrawals endpoint. This endpoint will respond\
        \ when the transaction is submitted successfully to the local node, which\
        \ means it will not wait for the transaction to be published in a block. Use\
        \ the GET /withdrawals/{withdrawalId} endpoint to poll the on-chain status."
      operationId: submitWithdrawal
      parameters:
      - explode: false
        in: path
        name: withdrawalId
        required: true
        schema:
          description: The hex-encoded identifier of a Cardano transaction
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TextEnvelope'
      responses:
        "202":
          content:
            application/json;charset=utf-8: {}
          description: ""
          headers:
            X-Network-Id:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - type: string
                - type: integer
              style: simple
            X-Node-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Chain-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Tip:
              explode: false
              schema:
                description: The latest known point in the chain on a peer.
                oneOf:
                - properties:
                    genesisTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - genesisTimeUTC
                  type: object
                - properties:
                    blockHeader:
                      $ref: '#/components/schemas/BlockHeader'
                    slotTimeUTC:
                      format: yyyy-mm-ddThh:MM:ssZ
                      type: string
                  required:
                  - blockHeader
                  - slotTimeUTC
                  type: object
              style: simple
            X-Runtime-Version:
              explode: false
              schema:
                pattern: ^\d+(\.\d+)*$
                type: string
              style: simple
        "400":
          description: Invalid `body`
        "404":
          description: '`withdrawalId` not found'
      security: []
      summary: Submit payout withdrawal
components:
  schemas:
    Action:
      description: A contract which becomes active when an action occurs.
      oneOf:
      - $ref: '#/components/schemas/Action_oneOf'
      - $ref: '#/components/schemas/Action_oneOf_1'
      - $ref: '#/components/schemas/Action_oneOf_2'
    ActionObject:
      description: A contract which becomes active when an action occurs.
      oneOf:
      - $ref: '#/components/schemas/Action_oneOf'
      - $ref: '#/components/schemas/Action_oneOf_1'
      - $ref: '#/components/schemas/Action_oneOf_2'
      - $ref: '#/components/schemas/ActionObject_oneOf'
    Address:
      description: "A cardano address, in Bech32 format"
      example: addr1w94f8ywk4fg672xasahtk4t9k6w3aql943uxz5rt62d4dvq8evxaf
      type: string
    ApplicableInputs:
      description: Applicable Inputs for a given contract
      example:
        choices:
        - for_choice:
            choice_name: choice_name
            choice_owner: null
          can_choose_between:
          - from: 0
            to: 6
          - from: 0
            to: 6
          case_index: 1
          is_merkleized_continuation: true
        - for_choice:
            choice_name: choice_name
            choice_owner: null
          can_choose_between:
          - from: 0
            to: 6
          - from: 0
            to: 6
          case_index: 1
          is_merkleized_continuation: true
        deposits:
        - of_token:
            currency_symbol: currency_symbol
            token_name: token_name
          into_account: null
          case_index: 5
          can_deposit: 5
          is_merkleized_continuation: true
          party: null
        - of_token:
            currency_symbol: currency_symbol
            token_name: token_name
          into_account: null
          case_index: 5
          can_deposit: 5
          is_merkleized_continuation: true
          party: null
        notify:
          case_index: 2
          is_merkleized_continuation: true
      properties:
        choices:
          items:
            $ref: '#/components/schemas/CanChoose'
          type: array
        deposits:
          items:
            $ref: '#/components/schemas/CanDeposit'
          type: array
        notify:
          $ref: '#/components/schemas/CanNotify'
      required:
      - choices
      - deposits
      type: object
    ApplyInputsResponse:
      properties:
        links:
          $ref: '#/components/schemas/ApplyInputsResponse_links'
        resource:
          $ref: '#/components/schemas/ApplyInputsTxEnvelope'
      required:
      - links
      - resource
      type: object
    ApplyInputsTxEnvelope:
      description: The "type" property of "tx" must be "Tx BabbageEra" or "Tx ConwayEra"
      properties:
        contractId:
          description: A reference to a transaction output with a transaction ID and
            index.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7#1
          pattern: "^[a-fA-F0-9]{64}#[0-9]+$"
          type: string
        transactionId:
          description: The hex-encoded identifier of a Cardano transaction
          pattern: "^[a-fA-F0-9]{64}$"
          type: string
        tx:
          $ref: '#/components/schemas/TextEnvelope'
      required:
      - contractId
      - transactionId
      - tx
      type: object
    AssetId:
      example:
        policyId: policyId
        assetName: assetName
      properties:
        assetName:
          type: string
        policyId:
          description: The hex-encoded minting policy ID for a native Cardano token
          pattern: "^[a-fA-F0-9]*$"
          type: string
      required:
      - assetName
      - policyId
      type: object
    Assets:
      example:
        lovelace: 0
        tokens:
          key:
            key: 6
      properties:
        lovelace:
          type: integer
        tokens:
          additionalProperties:
            additionalProperties:
              type: integer
            type: object
          type: object
      required:
      - lovelace
      - tokens
      type: object
    BlockHeader:
      example:
        blockNo: 738633633822310400
        blockHeaderHash: blockHeaderHash
        slotNo: 5559347081229897728
      properties:
        blockHeaderHash:
          type: string
        blockNo:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
        slotNo:
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      required:
      - blockHeaderHash
      - blockNo
      - slotNo
      type: object
    Bound:
      description: An inclusive range of values for a choice.
      example:
        from: 0
        to: 6
      properties:
        from:
          type: integer
        to:
          type: integer
      required:
      - from
      - to
      type: object
    CanChoose:
      description: Choice Inputs that can be applied for a given contract
      example:
        for_choice:
          choice_name: choice_name
          choice_owner: null
        can_choose_between:
        - from: 0
          to: 6
        - from: 0
          to: 6
        case_index: 1
        is_merkleized_continuation: true
      properties:
        can_choose_between:
          items:
            $ref: '#/components/schemas/Bound'
          type: array
        case_index:
          description: Index of a "Case Action" in a "When"
          type: integer
        for_choice:
          $ref: '#/components/schemas/ChoiceId'
        is_merkleized_continuation:
          description: Indicates if a given contract continuation is merkleized
          type: boolean
      required:
      - can_choose_between
      - case_index
      - for_choice
      - is_merkleized_continuation
      type: object
    CanDeposit:
      description: Deposit Input that can be applied for a given contract
      example:
        of_token:
          currency_symbol: currency_symbol
          token_name: token_name
        into_account: null
        case_index: 5
        can_deposit: 5
        is_merkleized_continuation: true
        party: null
      properties:
        can_deposit:
          type: integer
        case_index:
          description: Index of a "Case Action" in a "When"
          type: integer
        into_account:
          $ref: '#/components/schemas/Party'
        is_merkleized_continuation:
          description: Indicates if a given contract continuation is merkleized
          type: boolean
        of_token:
          $ref: '#/components/schemas/Token'
        party:
          $ref: '#/components/schemas/Party'
      required:
      - can_deposit
      - case_index
      - into_account
      - is_merkleized_continuation
      - of_token
      - party
      type: object
    CanNotify:
      description: Notify Input tha can be applied for a given contract
      example:
        case_index: 2
        is_merkleized_continuation: true
      properties:
        case_index:
          description: Index of a "Case Action" in a "When"
          type: integer
        is_merkleized_continuation:
          description: Indicates if a given contract continuation is merkleized
          type: boolean
      required:
      - case_index
      - is_merkleized_continuation
      type: object
    CanReduce:
      description: "Indicates if a given contract can be reduced (apply []) or not."
      type: boolean
    Case:
      description: A contract which becomes active when an action occurs.
      oneOf:
      - $ref: '#/components/schemas/Case_oneOf'
      - $ref: '#/components/schemas/Case_oneOf_1'
    CaseIndex:
      description: Index of a "Case Action" in a "When"
      type: integer
    CaseObject:
      description: A contract which becomes active when an action occurs.
      oneOf:
      - $ref: '#/components/schemas/CaseObject_oneOf'
      - $ref: '#/components/schemas/CaseObject_oneOf_1'
    ChoiceId:
      description: Refers to a party by role name.
      example:
        choice_name: choice_name
        choice_owner: null
      properties:
        choice_name:
          type: string
        choice_owner:
          $ref: '#/components/schemas/Party'
      required:
      - choice_name
      - choice_owner
      type: object
    ChoiceIdObject:
      description: Refers to a party by role name.
      properties:
        choice_name:
          type: string
        choice_owner:
          $ref: '#/components/schemas/PartyObject'
      required:
      - choice_name
      - choice_owner
      type: object
    Contract:
      description: Contract terms specified in Marlowe
      oneOf:
      - description: No more payments will be sent and the balance of the contract
          is 0.
        enum:
        - close
        type: string
      - $ref: '#/components/schemas/Contract_oneOf'
      - $ref: '#/components/schemas/Contract_oneOf_1'
      - $ref: '#/components/schemas/Contract_oneOf_2'
      - $ref: '#/components/schemas/Contract_oneOf_3'
      - $ref: '#/components/schemas/Contract_oneOf_4'
    ContractHeader:
      example:
        metadata:
          key: null
        continuations: continuations
        contractId: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7#1
        block:
          blockNo: 738633633822310400
          blockHeaderHash: blockHeaderHash
          slotNo: 5559347081229897728
        roleTokenMintingPolicyId: roleTokenMintingPolicyId
        version: null
        status: null
        tags:
          key: null
      properties:
        block:
          $ref: '#/components/schemas/BlockHeader'
        continuations:
          type: string
        contractId:
          description: A reference to a transaction output with a transaction ID and
            index.
          example: 98d601c9307dd43307cf68a03aad0086d4e07a789b66919ccf9f7f7676577eb7#1
          pattern: "^[a-fA-F0-9]{64}#[0-9]+$"
          type: string
        metadata:
          additionalProperties:
            $ref: '#/components/schemas/Metadata'
          type: object
        roleTokenMintingPolicyId:
          description: The hex-encoded minting policy ID for a native Cardano token
          pattern: "^[a-fA-F0-9]*$"
          type: string
        status:
          $ref: '#/components/schemas/TxStatus'
        tags:
          additionalProperties:
            $ref: '#/components/schemas/Metadata'
          type: object
        version:
          $ref: '#/components/schemas/MarloweVersion'
      required:
      - contractId
      - metadata
      - roleTokenMintingPolicyId
      - status
      - tags
      - version
      type: object
    ContractObject:
      description: Contract terms specified in Marlowe
      oneOf:
      - description: No more payments will be sent and the balance of the contract
          is 0.
        enum:
        - close
        type: string
      - $ref: '#/components/schemas/ContractObject_oneOf'
      - $ref: '#/components/schemas/ContractObject_oneOf_1'
      - $ref: '#/components/schemas/ContractObject_oneOf_2'
      - $ref: '#/components/schemas/ContractObject_oneOf_3'
      - $ref: '#/components/schemas/ContractObject_oneOf_4'
      - $ref: '#/components/schemas/ActionObject_oneOf'
    ContractSourceId:
[...]
